In [1]:
# Supress Warnings

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

## Task 1: Reading and Inspection

### Subtask 1.1: Loading data

* Import and read the movie database. Store it in a variable called `movies` (0.5 marks)

In [3]:
movies = pd.read_csv('movie_data.csv')# Write your code for importing the csv file here
movies

,movie_title,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Towering Inferno,Color,John Blanchard,NaN,65.0,0.0,176.0,Andrea Martin,770.0,NaN,...,NaN,English,Canada,NaN,NaN,NaN,179.0,9.5,1.33,0
1,The Shawshank Redemption,Color,Frank Darabont,199.0,142.0,0.0,461.0,Jeffrey DeMunn,11000.0,28341469.0,...,4144.0,English,USA,R,25000000.0,1994.0,745.0,9.3,1.85,108000
2,The Godfather,Color,Francis Ford Coppola,208.0,175.0,0.0,3000.0,Marlon Brando,14000.0,134821952.0,...,2238.0,English,USA,R,6000000.0,1972.0,10000.0,9.2,1.85,43000
3,Dekalog,Color,NaN,53.0,55.0,NaN,2.0,Olaf Lubaszenko,20.0,447093.0,...,37.0,Polish,Poland,TV-MA,NaN,NaN,3.0,9.1,1.33,0
4,Dekalog,Color,NaN,53.0,55.0,NaN,2.0,Olaf Lubaszenko,20.0,447093.0,...,37.0,Polish,Poland,TV-MA,NaN,NaN,3.0,9.1,1.33,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Disaster Movie,Color,Jason Friedberg,111.0,88.0,82.0,329.0,Tony Cox,869.0,14174654.0,...,359.0,English,USA,PG-13,25000000.0,2008.0,624.0,1.9,1.85,0
5039,Superbabies: Baby Geniuses 2,Color,Bob Clark,32.0,88.0,84.0,177.0,Vanessa Angel,650.0,9109322.0,...,129.0,English,Germany,PG,20000000.0,2004.0,384.0,1.9,2.35,0
5040,The Helix... Loaded,Color,A. Raven Cruz,3.0,97.0,0.0,94.0,Vanilla Ice,639.0,NaN,...,9.0,English,USA,R,1000000.0,2005.0,361.0,1.9,1.78,128
5041,Foodfight!,Color,Lawrence Kasanoff,12.0,91.0,11.0,500.0,Larry Miller,719.0,NaN,...,66.0,English,USA,PG,65000000.0,2012.0,611.0,1.7,NaN,0
5042,Justin Bieber: Never Say Never,Color,Jon M. Chu,84.0,115.0,209.0,41.0,Sean Kingston,569.0,73000942.0,...,233.0,English,USA,G,13000000.0,2011.0,69.0,1.6,1.85,62000

### Subtask 1.2: Inspect the dataframe

* Inspect the dataframe's columns, shapes & variable types (2 marks)

In [4]:
# Write your code for inspection here
movies.shape

(5043, 28)

In [5]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                5043 non-null   object
 1   color                      5024 non-null   object
 2   director_name              4939 non-null   object
 3   num_critic_for_reviews     4993 non-null   float64
 4   duration                   5028 non-null   float64
 5   director_facebook_likes    4939 non-null   float64
 6   actor_3_facebook_likes     5020 non-null   float64
 7   actor_2_name               5030 non-null   object
 8   actor_1_facebook_likes     5036 non-null   float64
 9   gross                      4159 non-null   float64
 10  genres                     5043 non-null   object
 11  actor_1_name               5036 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

### Subtask 1.3: Display the summary statistics
* Inspect the statistical summary of the dataframe (0.5 marks)

In [6]:
# write your code for inspection here
movies.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

### Subtask 1.4: Draw insights from the statistics
* What is the average duration of all the movies (1 mark)
* Find the details of movie which has the highest imdb score (1 mark)

In [7]:
#average duration
#Method 1
average_duration1 = np.round(movies['duration'].mean(),2)

In [8]:
average_duration1

107.2

In [9]:
movies_shape = movies.shape

In [10]:
movies_shape

(5043, 28)

In [11]:
movies_shape[0]

5043

In [12]:
#Method 2
#formula for average = total duration / count of movies
average_duration2 = np.round(movies.duration.sum() / 5043,2)
average_duration2

106.88

In [13]:
#What is the average duration of all the movies, round off your answer to 2 decimal points
Average_duration=input("Enter the average duration of the movies:")

Enter the average duration of the movies:107.20

In [14]:
# Write the code to find the details of movie which has the highest imdb score
highest_imdb_movie = movies[movies['imdb_score']==max(movies['imdb_score'])]

In [15]:
movies[movies['imdb_score']==9.5]

,movie_title,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Towering Inferno,Color,John Blanchard,NaN,65.0,0.0,176.0,Andrea Martin,770.0,NaN,...,NaN,English,Canada,NaN,NaN,NaN,179.0,9.5,1.33,0

In [16]:
movies['imdb_score']==9.5

0        True
1       False
2       False
3       False
4       False
        ...
5038    False
5039    False
5040    False
5041    False
5042    False
Name: imdb_score, Length: 5043, dtype: bool

In [17]:
movies.imdb_score[0]

9.5

In [18]:
movies[movies.imdb_score==movies.imdb_score[0]]

,movie_title,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Towering Inferno,Color,John Blanchard,NaN,65.0,0.0,176.0,Andrea Martin,770.0,NaN,...,NaN,English,Canada,NaN,NaN,NaN,179.0,9.5,1.33,0

## Task 2: Cleaning the Data

* Comment above the cells, showing what each codeblock is doing

-  ### Subtask 2.1: 

#### write here what the following codeblock is doing ( 1 mark )

In [19]:
#This code will give us the total number of null values in each column of the dataset
movies.isnull().sum()

movie_title                    0
color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [20]:
#This code will give us the percentage of null values in each column, rounded up to two decimal places
round(100*(movies.isnull().sum()/len(movies.index)), 2)

movie_title                   0.00
color                         0.38
director_name                 2.06
num_critic_for_reviews        0.99
duration                      0.30
director_facebook_likes       2.06
actor_3_facebook_likes        0.46
actor_2_name                  0.26
actor_1_facebook_likes        0.14
gross                        17.53
genres                        0.00
actor_1_name                  0.14
num_voted_users               0.00
cast_total_facebook_likes     0.00
actor_3_name                  0.46
facenumber_in_poster          0.26
plot_keywords                 3.03
movie_imdb_link               0.00
num_user_for_reviews          0.42
language                      0.24
country                       0.10
content_rating                6.01
budget                        9.76
title_year                    2.14
actor_2_facebook_likes        0.26
imdb_score                    0.00
aspect_ratio                  6.52
movie_facebook_likes          0.00
dtype: float64

-  ### Subtask 2.2: 

#### write here what the following codeblock is doing ( 1 mark )

In [21]:
#This code will drop the columns mentioned in the list from the dataset. 

movies = movies.drop(['color', 
                      'director_facebook_likes', 
                      'actor_3_facebook_likes', 
                      'actor_1_facebook_likes', 
                      'cast_total_facebook_likes', 
                      'actor_2_facebook_likes', 
                      'duration', 
                      'facenumber_in_poster', 
                      'content_rating', 
                      'country', 
                      'movie_imdb_link', 
                      'aspect_ratio',
                      'plot_keywords',
                      'actor_2_name',
                      'actor_3_name'], 
                       axis = 1)
movies

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
0,Towering Inferno,John Blanchard,NaN,NaN,Comedy,Martin Short,10,NaN,English,NaN,NaN,9.5,0
1,The Shawshank Redemption,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25000000.0,1994.0,9.3,108000
2,The Godfather,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,1155770,2238.0,English,6000000.0,1972.0,9.2,43000
3,Dekalog,NaN,53.0,447093.0,Drama,Krystyna Janda,12590,37.0,Polish,NaN,NaN,9.1,0
4,Dekalog,NaN,53.0,447093.0,Drama,Krystyna Janda,12591,37.0,Polish,NaN,NaN,9.1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Disaster Movie,Jason Friedberg,111.0,14174654.0,Comedy,Carmen Electra,74945,359.0,English,25000000.0,2008.0,1.9,0
5039,Superbabies: Baby Geniuses 2,Bob Clark,32.0,9109322.0,Comedy|Family|Sci-Fi,Scott Baio,25371,129.0,English,20000000.0,2004.0,1.9,0
5040,The Helix... Loaded,A. Raven Cruz,3.0,NaN,Action|Adventure|Comedy|Fantasy|Sci-Fi,Scott Levy,534,9.0,English,1000000.0,2005.0,1.9,128
5041,Foodfight!,Lawrence Kasanoff,12.0,NaN,Action|Animation|Comedy|Family|Fantasy,Jerry Stiller,4377,66.0,English,65000000.0,2012.0,1.7,0
5042,Justin Bieber: Never Say Never,Jon M. Chu,84.0,73000942.0,Documentary|Music,Usher Raymond,74351,233.0,English,13000000.0,2011.0,1.6,62000

In [22]:
#This code will drop all the duplicate rows except the first instance
movies.drop_duplicates(subset = None, keep = 'first', inplace = True)

-  ### Subtask 2.3:

#### write here what the following codeblock  is doing ( 1 mark )

In [23]:
#The first line will discard all the rows with null values in the column gross and 
#keep only the rows with non-null values in the original dataset

#The second line will discard all the rows with null values in the column budget and 
#keep only the rows with non-null values in the original dataset

movies = movies[~np.isnan(movies['gross'])]
movies = movies[~np.isnan(movies['budget'])]
movies

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
1,The Shawshank Redemption,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25000000.0,1994.0,9.3,108000
2,The Godfather,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,1155770,2238.0,English,6000000.0,1972.0,9.2,43000
6,The Dark Knight,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185000000.0,2008.0,9.0,37000
7,The Godfather: Part II,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,790926,650.0,English,13000000.0,1974.0,9.0,14000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94000000.0,2003.0,8.9,16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,Crossover,Preston A. Whitmore II,25.0,7009668.0,Action|Sport,Wesley Jonathan,8707,36.0,English,5600000.0,2006.0,2.1,244
5037,Who's Your Caddy?,Don Michael Paul,25.0,5694308.0,Comedy|Sport,Jeffrey Jones,13815,46.0,English,7000000.0,2007.0,2.0,446
5038,Disaster Movie,Jason Friedberg,111.0,14174654.0,Comedy,Carmen Electra,74945,359.0,English,25000000.0,2008.0,1.9,0
5039,Superbabies: Baby Geniuses 2,Bob Clark,32.0,9109322.0,Comedy|Family|Sci-Fi,Scott Baio,25371,129.0,English,20000000.0,2004.0,1.9,0
5042,Justin Bieber: Never Say Never,Jon M. Chu,84.0,73000942.0,Documentary|Music,Usher Raymond,74351,233.0,English,13000000.0,2011.0,1.6,62000

-  ### Subtask 2.4: 

#### write here what the following codeblock  is doing ( 1 mark )

In [24]:
#This code will calculate the total null values in each columns
#Then it will only keep the columns in which the total null values are less than 5
#Basically the code is discarding all the columns which have more than 5 null values
movies = movies[movies.isnull().sum(axis=1) <= 5]
movies

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
1,The Shawshank Redemption,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25000000.0,1994.0,9.3,108000
2,The Godfather,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,1155770,2238.0,English,6000000.0,1972.0,9.2,43000
6,The Dark Knight,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185000000.0,2008.0,9.0,37000
7,The Godfather: Part II,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,790926,650.0,English,13000000.0,1974.0,9.0,14000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94000000.0,2003.0,8.9,16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,Crossover,Preston A. Whitmore II,25.0,7009668.0,Action|Sport,Wesley Jonathan,8707,36.0,English,5600000.0,2006.0,2.1,244
5037,Who's Your Caddy?,Don Michael Paul,25.0,5694308.0,Comedy|Sport,Jeffrey Jones,13815,46.0,English,7000000.0,2007.0,2.0,446
5038,Disaster Movie,Jason Friedberg,111.0,14174654.0,Comedy,Carmen Electra,74945,359.0,English,25000000.0,2008.0,1.9,0
5039,Superbabies: Baby Geniuses 2,Bob Clark,32.0,9109322.0,Comedy|Family|Sci-Fi,Scott Baio,25371,129.0,English,20000000.0,2004.0,1.9,0
5042,Justin Bieber: Never Say Never,Jon M. Chu,84.0,73000942.0,Documentary|Music,Usher Raymond,74351,233.0,English,13000000.0,2011.0,1.6,62000

-  ### Subtask 2.5: 

#### write here what the following codeblock is doing ( 1 mark )

In [25]:
#This is code replacing all the rows in the column language with null value, with the value English

movies['language'].describe()
movies.loc[pd.isnull(movies['language']), ['language']] = 'English'
movies

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes
1,The Shawshank Redemption,Frank Darabont,199.0,28341469.0,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25000000.0,1994.0,9.3,108000
2,The Godfather,Francis Ford Coppola,208.0,134821952.0,Crime|Drama,Al Pacino,1155770,2238.0,English,6000000.0,1972.0,9.2,43000
6,The Dark Knight,Christopher Nolan,645.0,533316061.0,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185000000.0,2008.0,9.0,37000
7,The Godfather: Part II,Francis Ford Coppola,149.0,57300000.0,Crime|Drama,Robert De Niro,790926,650.0,English,13000000.0,1974.0,9.0,14000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377019252.0,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94000000.0,2003.0,8.9,16000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5035,Crossover,Preston A. Whitmore II,25.0,7009668.0,Action|Sport,Wesley Jonathan,8707,36.0,English,5600000.0,2006.0,2.1,244
5037,Who's Your Caddy?,Don Michael Paul,25.0,5694308.0,Comedy|Sport,Jeffrey Jones,13815,46.0,English,7000000.0,2007.0,2.0,446
5038,Disaster Movie,Jason Friedberg,111.0,14174654.0,Comedy,Carmen Electra,74945,359.0,English,25000000.0,2008.0,1.9,0
5039,Superbabies: Baby Geniuses 2,Bob Clark,32.0,9109322.0,Comedy|Family|Sci-Fi,Scott Baio,25371,129.0,English,20000000.0,2004.0,1.9,0
5042,Justin Bieber: Never Say Never,Jon M. Chu,84.0,73000942.0,Documentary|Music,Usher Raymond,74351,233.0,English,13000000.0,2011.0,1.6,62000

## Task 3: Data Analysis

-  ### Subtask 3.1: Convert units of gross and budget to millions for all movies in the dataset. (2 marks)

In [26]:
# Write your code here
movies['gross'] = movies['gross'] / 1000000
movies['budget'] = movies['budget'] / 1000000

-  ### Subtask 3.2:  Display the 10 movies with the highest profit. (Blockbuster Movies playlist) (2 marks)

In [35]:
# Write your code here
#creating a new column for profit
movies['profit'] = movies['gross'] - movies['budget']

#sorting the dataset by profit in descending order
top_movies_profit = movies.sort_values(by='profit',ascending = False)

#getting the top 10 movies with highest profit
top_movies_profit = top_movies_profit.iloc[:10]

In [37]:
top_movies_profit

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
328,Avatar,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
1595,Jurassic World,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
509,Titanic,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
26,Star Wars: Episode IV - A New Hope,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
370,E.T. the Extra-Terrestrial,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459
184,The Avengers,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
54,The Lion King,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,644348,656.0,English,45.0,1994.0,8.5,17000,377.783777
2564,Star Wars: Episode I - The Phantom Menace,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,534658,3597.0,English,115.0,1999.0,6.5,13000,359.544677
6,The Dark Knight,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061
1053,The Hunger Games,Gary Ross,673.0,407.999255,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,701607,1959.0,English,78.0,2012.0,7.3,140000,329.999255

In [40]:
#Method 2
top_10_movies_profit = movies.nlargest(10,'profit')
top_10_movies_profit

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
328,Avatar,James Cameron,723.0,760.505847,Action|Adventure|Fantasy|Sci-Fi,CCH Pounder,886204,3054.0,English,237.0,2009.0,7.9,33000,523.505847
1595,Jurassic World,Colin Trevorrow,644.0,652.177271,Action|Adventure|Sci-Fi|Thriller,Bryce Dallas Howard,418214,1290.0,English,150.0,2015.0,7.0,150000,502.177271
509,Titanic,James Cameron,315.0,658.672302,Drama|Romance,Leonardo DiCaprio,793059,2528.0,English,200.0,1997.0,7.7,26000,458.672302
26,Star Wars: Episode IV - A New Hope,George Lucas,282.0,460.935665,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,911097,1470.0,English,11.0,1977.0,8.7,33000,449.935665
370,E.T. the Extra-Terrestrial,Steven Spielberg,215.0,434.949459,Family|Sci-Fi,Henry Thomas,281842,515.0,English,10.5,1982.0,7.9,34000,424.449459
184,The Avengers,Joss Whedon,703.0,623.279547,Action|Adventure|Sci-Fi,Chris Hemsworth,995415,1722.0,English,220.0,2012.0,8.1,123000,403.279547
54,The Lion King,Roger Allers,186.0,422.783777,Adventure|Animation|Drama|Family|Musical,Matthew Broderick,644348,656.0,English,45.0,1994.0,8.5,17000,377.783777
2564,Star Wars: Episode I - The Phantom Menace,George Lucas,320.0,474.544677,Action|Adventure|Fantasy|Sci-Fi,Natalie Portman,534658,3597.0,English,115.0,1999.0,6.5,13000,359.544677
6,The Dark Knight,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061
1053,The Hunger Games,Gary Ross,673.0,407.999255,Adventure|Drama|Sci-Fi|Thriller,Jennifer Lawrence,701607,1959.0,English,78.0,2012.0,7.3,140000,329.999255

-  ### Subtask 3.3: Display the top 10 movies (based on IMDb ratings) with a minimum of 25,000 ratings (Most Loved movies playlist) (4 marks)

In [43]:
# Write your code here
#Algorithm
#1. Filter the movies with number of ratings >= 25000
#2. Sort the filtered movies by imdb score in descending order
#3. Get the top 10 movies from the top 10 rows of the sorted movies

top_movies_rating = movies[movies['num_voted_users'] >= 25000]

In [46]:
#Step 1
top_movies_rating = movies[movies['num_voted_users'] >= 25000]

#Step 2
top_movies_rating = top_movies_rating.sort_values(by='imdb_score',ascending=False)

#Step 3
top_movies_rating = top_movies_rating.head(10)

In [48]:
top_movies_rating1 = movies[movies['num_voted_users'] >= 25000].sort_values(by='imdb_score',ascending=False).head(10)

In [49]:
top_movies_rating1

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
1,The Shawshank Redemption,Frank Darabont,199.0,28.341469,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25.0,1994.0,9.3,108000,3.341469
2,The Godfather,Francis Ford Coppola,208.0,134.821952,Crime|Drama,Al Pacino,1155770,2238.0,English,6.0,1972.0,9.2,43000,128.821952
6,The Dark Knight,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061
7,The Godfather: Part II,Francis Ford Coppola,149.0,57.300000,Crime|Drama,Robert De Niro,790926,650.0,English,13.0,1974.0,9.0,14000,44.300000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377.019252,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94.0,2003.0,8.9,16000,283.019252
10,Schindler's List,Steven Spielberg,174.0,96.067179,Biography|Drama|History,Liam Neeson,865020,1273.0,English,22.0,1993.0,8.9,41000,74.067179
11,Pulp Fiction,Quentin Tarantino,215.0,107.930000,Crime|Drama,Bruce Willis,1324680,2195.0,English,8.0,1994.0,8.9,45000,99.930000
12,"The Good, the Bad and the Ugly",Sergio Leone,181.0,6.100000,Western,Clint Eastwood,503509,780.0,Italian,1.2,1966.0,8.9,20000,4.900000
17,Fight Club,David Fincher,315.0,37.023395,Drama,Brad Pitt,1347461,2968.0,English,63.0,1999.0,8.8,48000,-25.976605
20,Star Wars: Episode V - The Empire Strikes Back,Irvin Kershner,223.0,290.158751,Action|Adventure|Fantasy|Sci-Fi,Harrison Ford,837759,900.0,English,18.0,1980.0,8.8,17000,272.158751

In [41]:
movies.head(10)

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
1,The Shawshank Redemption,Frank Darabont,199.0,28.341469,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25.0,1994.0,9.3,108000,3.341469
2,The Godfather,Francis Ford Coppola,208.0,134.821952,Crime|Drama,Al Pacino,1155770,2238.0,English,6.0,1972.0,9.2,43000,128.821952
6,The Dark Knight,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061
7,The Godfather: Part II,Francis Ford Coppola,149.0,57.300000,Crime|Drama,Robert De Niro,790926,650.0,English,13.0,1974.0,9.0,14000,44.300000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377.019252,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94.0,2003.0,8.9,16000,283.019252
10,Schindler's List,Steven Spielberg,174.0,96.067179,Biography|Drama|History,Liam Neeson,865020,1273.0,English,22.0,1993.0,8.9,41000,74.067179
11,Pulp Fiction,Quentin Tarantino,215.0,107.930000,Crime|Drama,Bruce Willis,1324680,2195.0,English,8.0,1994.0,8.9,45000,99.930000
12,"The Good, the Bad and the Ugly",Sergio Leone,181.0,6.100000,Western,Clint Eastwood,503509,780.0,Italian,1.2,1966.0,8.9,20000,4.900000
14,Inception,Christopher Nolan,642.0,292.568851,Action|Adventure|Sci-Fi|Thriller,Leonardo DiCaprio,1468200,2803.0,English,160.0,2010.0,8.8,175000,132.568851
15,The Lord of the Rings: The Fellowship of the R...,Peter Jackson,297.0,313.837577,Action|Adventure|Drama|Fantasy,Christopher Lee,1238746,5060.0,English,93.0,2001.0,8.8,21000,220.837577

In [42]:
movies[movies['num_voted_users'] >= 25000]

1        True
2        True
6        True
7        True
9        True
        ...
5035    False
5037    False
5038     True
5039     True
5042     True
Name: num_voted_users, Length: 3856, dtype: bool

In [44]:
top_movies_rating

,movie_title,director_name,num_critic_for_reviews,gross,genres,actor_1_name,num_voted_users,num_user_for_reviews,language,budget,title_year,imdb_score,movie_facebook_likes,profit
1,The Shawshank Redemption,Frank Darabont,199.0,28.341469,Crime|Drama,Morgan Freeman,1689764,4144.0,English,25.0,1994.0,9.3,108000,3.341469
2,The Godfather,Francis Ford Coppola,208.0,134.821952,Crime|Drama,Al Pacino,1155770,2238.0,English,6.0,1972.0,9.2,43000,128.821952
6,The Dark Knight,Christopher Nolan,645.0,533.316061,Action|Crime|Drama|Thriller,Christian Bale,1676169,4667.0,English,185.0,2008.0,9.0,37000,348.316061
7,The Godfather: Part II,Francis Ford Coppola,149.0,57.300000,Crime|Drama,Robert De Niro,790926,650.0,English,13.0,1974.0,9.0,14000,44.300000
9,The Lord of the Rings: The Return of the King,Peter Jackson,328.0,377.019252,Action|Adventure|Drama|Fantasy,Orlando Bloom,1215718,3189.0,English,94.0,2003.0,8.9,16000,283.019252
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5028,Alone in the Dark,Uwe Boll,148.0,5.132655,Horror|Sci-Fi,Catherine Lough Haggquist,37626,521.0,English,20.0,2005.0,2.3,1000,-14.867345
5030,Son of the Mask,Lawrence Guterman,78.0,17.010646,Comedy|Family|Fantasy,Jamie Kennedy,40751,239.0,English,84.0,2005.0,2.2,881,-66.989354
5038,Disaster Movie,Jason Friedberg,111.0,14.174654,Comedy,Carmen Electra,74945,359.0,English,25.0,2008.0,1.9,0,-10.825346
5039,Superbabies: Baby Geniuses 2,Bob Clark,32.0,9.109322,Comedy|Family|Sci-Fi,Scott Baio,25371,129.0,English,20.0,2004.0,1.9,0,-10.890678
5042,Justin Bieber: Never Say Never,Jon M. Chu,84.0,73.000942,Documentary|Music,Usher Raymond,74351,233.0,English,13.0,2011.0,1.6,62000,60.000942

- ### Subtask 3.4: Display the names of  the top 5 directors based on IMDb ratings with a minimum of 5 movies (Top Directors Playlist)  (4 marks)

In [30]:
# Write your code here
#Algorithm
#1. Getting the average IMDb score of all directors
#2. Get the count of movies for each director
#3. From this, filter the directors who have directed at least 5 movies
#4. From these filtered directors, get the top 5 directors based on IMDb rating

In [65]:
#Step 1
top_movies_director = pd.DataFrame(movies.groupby('director_name')['imdb_score'].mean())

#Step 2
top_movies_director['Movies_Count'] = movies['director_name'].value_counts().sort_index()

#Step 3
top_movies_director = top_movies_director[top_movies_director['Movies_Count'] >= 5]

#Step 4
top_movies_director = top_movies_director.sort_values(by='imdb_score',ascending=False)

#Final playlist
top5_movies_director_playlist = top_movies_director.head(5)

In [66]:
top5_movies_director_playlist

                       imdb_score  Movies_Count
director_name
Christopher Nolan        8.425000             8
Quentin Tarantino        8.200000             8
James Cameron            7.914286             7
Alejandro G. Iñárritu    7.840000             5
David Fincher            7.750000            10

-  ### Subtask 3.5.1: Find the most popular genre of movies (by highest average rating) (4 marks)

In [69]:
movies['genres']

1                          Crime|Drama
2                          Crime|Drama
6          Action|Crime|Drama|Thriller
7                          Crime|Drama
9       Action|Adventure|Drama|Fantasy
                     ...
5035                      Action|Sport
5037                      Comedy|Sport
5038                            Comedy
5039              Comedy|Family|Sci-Fi
5042                 Documentary|Music
Name: genres, Length: 3856, dtype: object

In [31]:
# Write your code here
#Algorithm

#1. Preprocessing - Get the primary genre of each movie

#2. Get average rating of the movies by imdb_score

#3. Get the most popular genre with the highest average rating (imdb_score)

In [73]:
movies['genres'].dtypes

dtype('float64')

In [80]:
#Step1 : Preprocessing
movies['genres'] = movies['genres']
movies['genres'] = movies['genres'].str.split('|')
movies['primary_genre'] = movies['genres'].apply(lambda x: x[0])

AttributeError: Can only use .str accessor with string values!

In [76]:
movies['genres']

1       [1      NaN\n2      NaN\n6      NaN\n7      Na...
2       [1      NaN\n2      NaN\n6      NaN\n7      Na...
6       [1      NaN\n2      NaN\n6      NaN\n7      Na...
7       [1      NaN\n2      NaN\n6      NaN\n7      Na...
9       [1      NaN\n2      NaN\n6      NaN\n7      Na...
                              ...
5035    [1      NaN\n2      NaN\n6      NaN\n7      Na...
5037    [1      NaN\n2      NaN\n6      NaN\n7      Na...
5038    [1      NaN\n2      NaN\n6      NaN\n7      Na...
5039    [1      NaN\n2      NaN\n6      NaN\n7      Na...
5042    [1      NaN\n2      NaN\n6      NaN\n7      Na...
Name: genres, Length: 3856, dtype: object

-  ### Subtask 3.5.2: Find the most popular genre of movies (by total gross) (4 marks)

In [32]:
# Write your code here